.sorteio {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #6666;
}

input {
margin-left: 5px;
margin-right: 5px;
}


p {
    margin-top: 80px;
    font-size:60px;
    }
    
.gerador_botao,.inicializador_botao{
    border-radius: 5px;
    background-color:#666;
    color: #fff;
    padding: 5px;
    box-shadow: 0 4px 8px 0 #6666;
    
}    